@model IEnumerable<SearchEngineeUI.RouteConfig>

@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>
 
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          
           hiiiii
        </td>
    </tr>
}

</table>
